/* Add CSS styling here */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	/* font-size: 100%; */
	/* font: inherit; */
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* end of reset */



/* general */
img{
    width: 100%;
    box-sizing: border-box;
}
.container{
    margin: auto;
    width: 85%;
}
a{
    text-decoration: none;
    color: black;
    font-size: medium;
}
/* end of general */
/* header*/

/* selected button */

header{
    background-color: gray;
    padding:50px;
}
h1{
    font-size: 75px;
    font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
letter-spacing: 2px;
}
header nav{
   
    margin: 30px
}
header button{
    padding: 10px;
    width: 175px;
}

/* ??? button selected */
button.selected{
    background-color: black;
    color: white;
}
button.selected a{
    color: lavenderblush;
}
/* end of header */

/* personal section */
#personal{
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
    padding:50px;
}
#personal div{
    padding: 50px;
}
#personal img{
    width: 50%;
}
#personal h2{
    margin: 20px;
    font-size:40px;
}
#personal button{
    margin:20px;
    padding:10px 20px;
}

#personal p{
    margin: 20px;
    font-size: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    line-height: 50px;
    font-weight: 600;
    letter-spacing: 3px;
}
/* How could I have done that easier and less repedatively? */
/* end of personal */
/* galley section */
section#gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 100px;
}

.pic{
    width:20%;
    box-sizing: border-box;
    margin-bottom: 100px;
    text-align: center;
    margin: 20px;

}
/* end of gallery */

/* footer */
footer{
    background-color: gray;
    padding: 90px;
    text-align: center;
}
footer h2{
    font-family: sans-serif;
   letter-spacing: 6px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 32px;
}
footer button{
    margin: 20px;
    /* padding: 20px; */
    width: 170px;
    height: 40px;
}
/* Style all font awesome icons */
.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
  }
  
  /* Add a hover effect if you want */
  .fa:hover {
    opacity: 0.7;
  }
  
  /* Set a specific color for each brand */
  
  /* Facebook */
  .fa-facebook {
    background: #3B5998;
    color: white;
  }
  
  /* Twitter */
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }
  .fa-instagram{
      background: purple;
      color: white;
  }
/* end of footer */
